* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 90%;
    margin: 0 auto;
}

.main ul a{
    color: #050530;
    text-decoration: none;
}

.main ul a:hover{
    color: black;
    text-decoration: underline;
}

header {
    background-color: grey;
    color: white;
    padding: 15px 0;
}

header h1 {
    margin: 0;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    margin: 2em 0;
}

.posts {
    margin: 2em 0;
}

.post {
    margin-bottom: 1.5em;
}
.posts img{
    width:700px;
    height:400px;
    margin: 0px 25%;
    padding:40px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}
